* {
    main-bg:            #0B182DB3;
    main-fg:            #CCDFFFE6;
    main-br:            #427AB9E6;
    main-ex:            #1D447EE6;
    select-bg:          #AAD6F080;
    select-fg:          #294252E6;
}
